.largestButton {
    margin: 2%;
    width: 80%;
    height: 15%;
    border-radius: 10em;
}

.largeButton {
    margin: 2%;
    width: 25%;
    height: 7%;
    font-size: 30px;
    border: 2px solid darkblue;
    border-radius:2em;
}

.fatButton {
    margin: 2%;
    width: 15%;
    height: 8%;
    font-size: 30px;
    border: 2px solid darkblue;
    border-radius: 2em;
}

.mediumButton {
    margin: 1%;
    width: 15%;
    height: 5%;
    font-size: 22px;
    border: 2px solid darkblue;
    border-radius: 2em;
}